# dependencies
**/node_modules

# misc
**/.DS_Store

# environment config
**/.env

# production
**/build
**/npm-debug.log*
**/bin
**/obj
**/*.user

# local app secrets
**/appsettings.Development.json

